@use '@styles/' as *;

.topInfo {
	font-weight: 700;
	font-size: 1.4rem;
	display: flex;
	gap: 20px;
	margin-bottom: 10px;
	align-items: center;

	h2 {
		color: $primary-color;
	}

	.recent {
		display: flex;
		gap: 5px;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: $white;
		align-items: center;
		flex-wrap: wrap;

		p {
			border-radius: 13px;
			padding: 6px 10px 3px;
		}

		p:nth-child(1) {
			background-color: $primary-color;
		}

		p:nth-child(2) {
			background-color: $dark-gray;
		}
	}

	@include mobile {
		font-size: 1.3rem;
		margin-bottom: 15px;

		.recent {
			p {
				font-size: 1.4rem;
				padding: 8px 10px 6px;
			}
		}
	}
}
