@use '@styles/' as *;

.listCards {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 20px 50px;
    align-items: center;
    margin-bottom:30px;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0px $shadow;
}