@use '@styles/' as *;

.timeInfo {
	display: flex;
	gap: 15px;
	color: $light-gray;

	@include mobile {
		gap: 8px;
		width: 70%;
	}
}

.mobileLine {
	display: none;

	@include mobile {
		display: block;
		height: 1px;
		background-color: $light-gray;
		border: none;
		margin: 15px 0 5px;
	}
}
