$primary-color: hsl(180, 29%, 50%);
$background-color: hsl(180, 52%, 96%);
$table-filter-color: hsl(180, 31%, 95%);
$light-gray:hsl(180, 8%, 52%);
$dark-gray:hsl(180, 14%, 20%);
$shadow: hsla(180,29%,50%,20%);
$white: hsl(0, 0%, 100%);
