@use '../index.scss' as *;

.homeContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $background-color;
	align-items: center;

	.contentContainer {
		width: 100%;
		max-width: 1440px;
		padding: 0 30px;
		position: relative;

		@include mobile {
			padding: 0 20px;
		}
	}
}
